.navBar {
  background-color: #1c3e36;
  display: flex;
  justify-content: space-between;
  padding: 6px 12px 6px 12px;
  align-content: center;
  border-radius: 5px;
}
.navItems {
  text-decoration: none;
  display: flex;
  list-style: none;
  color: #f2e2d8;
  cursor: pointer;
  align-items: center;
}
.navItem:hover {
  font-size: large;
}
.navItem {
  padding: 0px 12px 0px 12px;
}
a {
  color: #e2b95b;
  text-decoration: none;
}
a:hover {
  color: white;
}

.addressAndContactDiv {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: auto;
}
